{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
  },
  plugins: [
    "react"
  ],
  settings: {
    react: {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.0"
    }
  },
  rules: {
    "no-console": "off"
  }
}
